/* Welcome to Compass. Use this file to write IE specific override styles. Import this file using the following HTML or equivalent: <!--[if IE]> <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /> <![endif]--> */
/* Welcome to Compass. Use this file to define print styles. Import this file using the following HTML or equivalent: <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

body { font-family: Arial; letter-spacing: 1px; text-align: center; }

h1 { font-size: 40px; margin-bottom: 10px; }

h2 { font-size: 24px; }

h3 { font-size: 20px; }

h4 { font-size: 18px; padding: 15px 0; }

.header { background-color: white; height: 116px; }

header { background-color: #FFF; padding: 10px 0; }

footer { background-color: #273248; color: #FFF; font-size: 10px; padding: 10px 0; }

.module-1 { background-color: #273248; color: #FFF; margin-bottom: 100px; }
.module-1 .module-headline { padding: 20px; }
.module-1 .submodule-1 { background-color: white; border-radius: 20px 20px 0 0; color: black; margin: 20px 20px 0; padding-bottom: 15px; }
@media (min-width: 980px) { .module-1 .submodule-1 { margin: 20px 100px 0; } }
.module-1 .submodule-1 .icon-container { display: inline-block; vertical-align: top; width: 45%; }
@media (min-width: 768px) { .module-1 .submodule-1 .icon-container { width: auto; } }
@media (min-width: 980px) { .module-1 .submodule-1 .icon-container { width: 22%; } }
.module-1 .submodule-1 .icon-container .bg-design { background: url(../images/mobile/module-1/circle-button.png) no-repeat center; display: inline-block; min-height: 128px; position: relative; width: 128px; }
.module-1 .submodule-1 .icon-container .bg-design img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.module-1 .submodule-2 { background-color: #FFF; border-top: 1px solid #CCC; color: black; padding-top: 10px; }
.module-1 .submodule-2 .submodule-2-descriptions { color: #CCC; display: inline-block; }
.module-1 .submodule-2 .bg-icon { background: url(../images/mobile/module-1/checked-icon.png) no-repeat left; display: inline-block; padding-left: 20px; }

.module-2 { padding: 20px; margin-bottom: 100px; }
.module-2 .submodules-container { display: inline-block; }
.module-2 .submodule { display: inline-block; vertical-align: top; }
@media (min-width: 768px) { .module-2 .submodule { margin: 15px 0; width: 32%; } }
@media (min-width: 980px) { .module-2 .submodule { width: 18%; } }
.module-2 .submodule .submodule-subheadline { margin: 30px 0; }
.module-2 .background-design { width: 100%; background: url(../images/mobile/module-2/background-design.png) no-repeat center; display: inline-block; min-height: 184px; position: relative; }
.module-2 .background-design img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.module-2 .module-separator { background: url(../images/mobile/module-2/arrow.png) no-repeat center; display: inline-block; margin: 40px 0; height: 73px; width: 37px; }
@media (min-width: 768px) { .module-2 .module-separator { background: url(../images/mobile/module-2/arrow-right.png) no-repeat center; margin: 75px 0; height: 37px; width: 73px; } }
@media (min-width: 980px) { .module-2 .module-separator { margin: 90px 0; } }
@media (min-width: 768px) { .module-2 .separator-2 { display: none; } }
@media (min-width: 980px) { .module-2 .separator-2 { display: inline-block; } }

.module-3 { padding: 20px; margin-bottom: 100px; }
.module-3 .submodule { width: 100%; margin: 20px 0; position: relative; display: inline-block; vertical-align: top; }
@media (min-width: 980px) { .module-3 .submodule { width: 400px; } }
.module-3 .submodule .card-number { display: inline-block; vertical-align: top; }
.module-3 .submodule .label-number { background: #CCC; border-bottom-left-radius: 90px; border-top-left-radius: 90px; display: inline-block; line-height: 90px; margin: 107px 14px 107px 0; height: 90px; width: 45px; }
.module-3 .submodule .label-number .number { margin-left: 10px; }
.module-3 .submodule .card { width: 85%; display: inline-block; background-color: #FFF; border: 2px solid #CCC; border-radius: 15px; margin-left: -20px; min-height: 300px; text-align: center; }
@media (min-width: 768px) { .module-3 .submodule .card { width: 300px; } }
.module-3 .submodule .card .card-label { margin: 10px 0 0; }
.module-3 .submodule .card .card-separator { border: 1px solid #8CC63E; display: inline-block; margin: 10px 0; width: 40%; }
.module-3 .submodule .card .card-description { line-height: 24px; margin: 0 10px; }

.module-4 { padding: 20px; margin-bottom: 100px; }
@media (min-width: 980px) { .module-4 .submodules-container .submodule { display: inline-block; width: 370px; } }
.module-4 .submodules-container .submodule .bg-design { background: url(../images/mobile/module-4/bg-design.png) no-repeat center; min-height: 340px; position: relative; margin: 30px 0; }
.module-4 .submodules-container .submodule .bg-design .submodule-description { width: 200px; display: inline-block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; max-height: 200px; vertical-align: top; }

.module-5 { padding: 20px; }
.module-5 .module-headline { margin: 40px 0; }
.module-5 .submodule { border: 1px solid #CCC; margin: 50px 0; display: inline-block; padding: 0 15px; vertical-align: top; width: 354px; min-height: 286px; }
@media (min-width: 768px) { .module-5 .submodule { width: inherit; } }
@media (min-width: 980px) { .module-5 .submodule { text-align: left; margin: 5% 2%; width: 25%; } }
.module-5 .submodule .submodule-description { line-height: 30px; }
.module-5 .submodule .submodule-position { color: #8CC63E; }
.module-5 .submodule .submodule-image, .module-5 .submodule .submodule-description, .module-5 .submodule .submodule-name, .module-5 .submodule .submodule-position { top: -60px; position: relative; margin-bottom: 20px; }

.module-6 { background-color: #CCC; padding: 20px 20px 30px; }
.module-6 .module-headline { padding: 20px 0; }
.module-6 .submodule-description { margin: 20px 0; }
.module-6 .btn { background-color: #FA8109; color: #FFF; cursor: pointer; padding: 10px 20px; font-size: 18px; }
