// Config variables
$tablet    :  768px;
$desktop   :  980px;

$color-blue-gray : #273248;
$color-light     : #FFF;
$color-gray      : #CCC;
$color-black     : #000;
$color-green     : #8CC63E;
$color-button    : #FA8109; // orange

$main-font: Arial;

$spacing-mobile  :  20px;
$spacing-tablet  :  50px;
$spacing-desktop : 100px;