@mixin md {
	@media (min-width: #{$tablet}) {
		@content;
	}
}

@mixin lg {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

@mixin semi-circle {
	$size: 45px;

	background: $color-gray;
	border-bottom-left-radius: $size * 2;
	border-top-left-radius: $size * 2;
	display: inline-block;
	line-height: $size * 2;
	margin: 107px 14px 107px 0;
	height: $size * 2;
	width: $size;

}