body {
	font-family: $main-font;
	letter-spacing: 1px;
	text-align: center;
}

h1 {
	font-size: 40px;
	margin-bottom: 10px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
	padding: 15px 0;
}

.header {
	background-color: white;
	height: 116px;
}