.module-3 {
	padding: 20px;
	margin-bottom: 100px;

	.submodule { 
		width: 100%;
		margin: 20px 0;
		position: relative;
		display: inline-block;
		vertical-align: top;

		@include md {
		}

		@include lg {
			width: 400px;
		}

		.card-number {
			display: inline-block;
			vertical-align: top;
		}

		.label-number { 

			@include semi-circle;

			.number {
				margin-left: 10px;
			}
		}

		.card { 
			width: 85%;
			display: inline-block;
			background-color: $color-light;
			border: 2px solid $color-gray;
			border-radius: 15px;
			margin-left: -20px;
			min-height: 300px;
			text-align: center;

			@include md {
				width: 300px;
			}

			@include lg {

			}

			.card-label {
				margin: 10px 0 0;
			}

			.card-separator {
				border: 1px solid $color-green;
				display: inline-block;
				margin: 10px 0;
				width: 40%;
			}

			.card-description {
				line-height: 24px;
				margin: 0 10px;
			}

		}
	}

}