.module-5 {
	padding: 20px;

	.module-headline {
		margin: 40px 0;
	}

	.submodule {
		border: 1px solid $color-gray;
		margin: 50px 0;
		display: inline-block;
		padding: 0 15px;

		vertical-align: top;

		width: 354px;
		min-height: 286px;

		@include md {
			width: inherit;
		}

		@include lg {
			text-align: left;
			margin: 5% 2%;
			width: 25%;
		}

		.submodule-image {


		}

		.submodule-description {
			line-height: 30px;
		}

		.submodule-name {}

		.submodule-position {
			color: $color-green;
		}

		.submodule-image,
		.submodule-description,
		.submodule-name,
		.submodule-position {
			top: -60px;
			position: relative;
			margin-bottom: 20px
		}

	}
}